.page {
        border: 2px solid black;
        background-color: cadetblue;
        color: white;
        width: 42%;
        height: 84%;
        margin: 13% auto;
}
body{
    background-color: #f87171;
}
#output{
    width: auto;
    height: auto;
    /* background-color: aqua; */
}